*{
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: lightsalmon;
    flex-direction: column;
    margin: 0;
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
}

main {
   flex: 1;
}

#profileSection {
    background-color: #A07AFF;
    width: 100%;
    margin: 0;
}

#mainContent {
    display: flex;
}

div.aboutUs {
    height: 450px;
    width: 50%;
    border-style: groove;
}

#contentSpecifier {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    margin-left: 45%;
    margin-top: 12%;
    font-size: 3.4vw;
    text-align: center;
}

#contentAboutOwner {
    margin-left: 35px;
    margin-top: 35px;
    width: 90%;
    height: 80%;
    margin-bottom: 10px;
}

td, th {
    background-color: white;
    border-collapse: collapse;
    text-align: center;
    height: 30px;
}

#contentAboutOwner > tr:nth-child(odd){
   background-color: #888;
}

footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
    padding: 20px; /* Add padding for better readability */
}
