*{
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: lightsalmon;
    flex-direction: column;
    margin: 0;
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
}

main {
   flex: 1;
}

#profileSection {
    background-color: #b5b3ba;
    width: 100%;
    margin: 0;
}

#imageContainer {
    background-color: whitesmoke;
    display: inline-block;
    border-style: groove;
    border-radius: 150px;
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
}

#imageContainer > i{
    text-align: center;
}

#mainContent {
    display: flex;
}

h2 {
    display: inline-block;
}

div.aboutUs {
    position: relative;
    height: 550px;
    width: 50%;
    border-style: groove;
}

#contentSpecifier {
    position: absolute;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    margin-left: 45%;
    top:15px;
    font-size: 3.4vw;
    text-align: center;
}

p {
    margin-left: 35px;
}

#contentAboutOwner {
    position: absolute;
    bottom: 0;
    margin-left: 35px;
    margin-top: 35px;
    width: 90%;
    height: 75%;
    margin-bottom: 10px;
}

label {
    margin-left: 35px;
}

label > .searchStyle {
    margin-left: 15px;
}

.searchStyle + label{
    margin-left: 0;
}

.searchStyle:hover + label{
    transition-duration: 0.5s;
    font-size: 130%;
    font-weight: bold;
}

.searchStyle:checked + label {
    font-size: 130%;
    font-weight: bold;
}

input {
    background-color: #dad9db;
    margin-top: 10px;
    margin-left: 35px;
}
table{
    overflow: scroll;
}
td, th {
    background-color: #b5b3ba;
    border-collapse: collapse;
    text-align: center;
    height: 30px;
}

#contentAboutOwner > tr:nth-child(odd){
   background-color: #888;
}

footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
    padding: 20px; /* Add padding for better readability */
}

#imgProfilePick {
    display: inline-block;
    list-style-type: none;
    position: relative;
    left: 5px;
    margin:0;
    padding: 0;
}

#imgProfilePick li {
    display: inline-block;
    background-color: whitesmoke;
    margin:0;
    padding: 0;
}

button {
    margin-left: 50px;
    margin-right: 250px;
    display: inline-block;
    font-family: Verdana, serif;
    height: 50px;
    box-sizing: border-box;
}

/*
Tot ce incepe de aici este pentru a stiliza MODALUL, IMAGINEA MODAL
(Cea pe care apesi, si se afiseaza un pop up image)
*/

#myImg {
    position: absolute;
    height: 200px;
    bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
