footer {
    background-image: linear-gradient(lightsalmon, #7ad9ff);
    border-bottom: 0;
    padding: 10px;
    text-align: center;
    font-size: 1vw;
    color: black;
    /*position: absolute;*/
    /*bottom: 0;*/
    display: block;
    width: 100%;
    max-height: 350px;
}

footer p {
    font-family: Verdana, serif;
    font-size: 1.35vw;
}
footer  a:link, a:visited, a:active{
    text-decoration: none;
}

footer a:hover{
    color: whitesmoke;
}