*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: lightsalmon;
    overflow-y: hidden;
    margin: 0;
}

#container {
    display: flex;
    height: calc(100% - 52px);
}

h1 {
    font-size: 3vw;
}

h2, h1 {
    text-align: center;
}

h3 {
    display: inline-block;
}


#loginDiv {
    background-color: lightcyan;
    justify-content: center;
    border-style: outset;
    border-radius: 30px;
    height: 50%;
    width: 40%;
    margin: 150px auto 0;
}

label {
    padding-top: 150px;
    padding-left: 1vw;
    margin-top: 5vw;

}

input {
    border-radius: 15px;
    padding-left: 1vw;
    border-style: outset;
}

input:invalid {
    background-color: lightcoral;
    transition: 0.5s;
}
form p {
    text-align: center;
    color: lightcoral;
    visibility: hidden;
}
#passw:invalid {

}

#loginButton {
    width: 50%;
    margin-top: 45px;
    margin-left: 20%;
}

#imgContainer {
    width: 50%;
    border-style: outset;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:45%;
    width: 50%;
}

#registerSection {
    margin-top: 45px;
    margin-bottom: 0;
    border-bottom: 0;
    position: absolute;
}

#registerSection > a {
    text-align: center;
    border-radius: 15px;
}

